body {
  margin: 0;
  font-family: NanumGothic, sans-serif;
  font-size: .90em;
  color: #666;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}

#grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  /*
    width는 대상의 넓이 조정. 여기서는 grid값의 너비 조정한 것.
    */
}

.one {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding-left: 30px;
}

#article {
  margin-top: 0;
}

li {
  margin-top: 10px;
}

#line {
  opacity: 0.5;
  text-align: center;
  font-size: 10px;
}


@media(max-width:800px) {
  #grid {
    display: block;
  }

  .one {
    border-right: none;
    margin-bottom: 40px;
  }

  #grid #article {
    padding-left: 25px;
    /*그냥 #article만 적어도 됨. grid 하위라는 설명 위해 저렇게 작성한 것.*/
  }

  h1 {
    border-bottom: none;
  }
}
